@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body{
  width: 100%;
  max-width: 800px;
  margin:64px auto;
  font-family:'Lato';
}
.heading{
  color:#000000d8;
  font-size:44px;
  text-align:center;
  margin:64px;
}
.list{
  padding-left:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  &__item{
    padding:16px;
    border:1px solid #00000013;
    list-style-type:none;
    background:white;
    box-shadow: 0 0 17px -1px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--link{
      text-decoration: none;
      color:#0000007a;
    }
    &--title{
      color:#000000d5;
      font-weight: bold;
      padding-bottom: 8px;
    }
  }
}